body {
  font-family: Arial, sans-serif;
  background-color: #120404;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgb(160, 124, 124);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #d4caca;
}

form div {
  margin-bottom: 1rem;
  text-align: left;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 0.9rem;
  color: #555;
}
